.about{
  background: var(--cinza1);
  height: 100%;
  min-height: 100vh;
  display: flex;
}

.about__container{
  display: flex;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}


.about__image{
  width: 40vw;
}

.about__title__desktop{
  font-size: 4rem;
  color: var(--green);
  font-family: var(--play);
  font-weight: 700;
}


.about__title__mobile{
  display: none;
  font-size: 4rem;
  color: var(--green);
  font-family: var(--play);
  font-weight: 700;
}

.about__description{
  color: var(--black);
  margin-top: 2rem;
  font-size: 1.3rem;
  text-align: justify;
  line-height: 1.5rem;
}

@media screen and (max-width: 1024px){

  .about__container{
    flex-direction: column;
  }

  .about__title__desktop{
    display: none;
  }

  .about__title__mobile{
    display: block;
  }

  .about__image{
    width: 65vw;
    margin: 3rem 0;
  }

}