.contact{
  background: var(--green);
  height: 100vh;
  display: flex;
}

.contact__container{
  display: flex;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  gap: 15%;
}

.contact__image{
  width: 40vw;
}

.contact__right{
  width: fit-content;
  max-width: 30vw;
}

.contact__text__left{
  display: none;
  font-size: 5rem;
  color: var(--coral);
  font-family: var(--play);
  font-weight: 700;

  text-align: justify;

  width: fit-content;
  
}

.contact__text__right{
  font-size: 5rem;
  color: var(--coral);
  font-family: var(--play);
  font-weight: 700;

  text-align: left;

  width: fit-content;
}


.contact__media{
  display: flex;
  align-items: center;
  justify-content: space-around;
 
  margin-top: 20vh;
  padding-bottom: 0.5rem;

  border-bottom: solid .5rem var(--black);
  border-radius: 50px;
}

.contact__media__item{
  width: 5rem;
  transition: 0.5s;
}

.contact__media__item:hover{
  width: 6rem;
  margin-top: -4rem;
}

.mail:hover{
  background-color: #BB001B;
  border-radius: 999px;
}

.github:hover{
  background-color: #171515;
  border-radius: 999px;
}

.linkedin:hover{
  background-color: #0E76A8;
  border-radius: 999px;
}

.rec__bottom{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30vw;
  height: 35vh;
  background-color: var(--coral);
}


@media screen and (max-width: 1020px){

  .contact{
    box-sizing: border-box;
    height: 100%;
    min-height: 100vh;
    padding: 5rem 0;
  }

  .contact__container{
    flex-direction: column;
    width: 80%;
    gap: 0;
  }
  
  .contact__left{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  .contact__right{
    width: fit-content;
    width: 100%;
  }

  .contact__image{
    width: 65vw;
  }

  .contact__text__left{
    display: block;
    font-size: 5rem;
    text-align: center;
  }

  .contact__text__right{
    display: none;
  }
  
  .contact__media{
    border-bottom: none;
    gap: 2rem;
    margin-top: 10rem;
  }
 
}
