:root{

  /* COLORS */
  --green: #20493B;
  --yellow: #FFB422;
  --coral: #F18D5B;
  --black: #303137;
  --blue: #6DACDF;
  --gray1: #EDEDED;
  --gray2: #E9E9E9;
  --gray3: #CCCCCC;

  
  
  
  /* FONTS */
  --play: 'Play', sans-serif;
  --mulish: 'Mulish', sans-serif;
  
  }